/* ================================
   GLOBAL SETTINGS
================================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',Arial,sans-serif;
}


body{

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(0,51,102,.85),
        rgba(0,0,0,.75)
    ),
    url("Badge.jpg");

    background-size:cover;
    background-position:center;

}


/* ================================
   LOGIN BOX
================================ */


.login-box{

    width:380px;

    background:
    rgba(255,255,255,.95);

    padding:40px;

    border-radius:25px;

    box-shadow:
    0 20px 50px rgba(0,0,0,.35);

    animation:showBox .8s ease;

}



@keyframes showBox{

from{

    transform:translateY(-50px);
    opacity:0;

}

to{

    transform:translateY(0);
    opacity:1;

}

}




/* ================================
   LOGO
================================ */


.logo{

    text-align:center;

    margin-bottom:15px;

}



.logo img{

    width:80px;

    height:80px;

    border-radius:50%;

    object-fit:cover;

    border:4px solid #ffd700;

}



.logo-icon{

    font-size:55px;

}





/* ================================
   TITLE
================================ */


.login-box h2{

    text-align:center;

    color:#003366;

    font-size:30px;

    margin-bottom:30px;

}





/* ================================
   INPUTS
================================ */


.input-box{

    margin-bottom:20px;

}



.input-box input{

    width:100%;

    padding:15px;

    border-radius:12px;

    border:1px solid #ccc;

    outline:none;

    font-size:15px;

    transition:.3s;

}



.input-box input:focus{

    border-color:#003366;

    box-shadow:
    0 0 10px rgba(0,51,102,.3);

}





/* ================================
   BUTTON
================================ */


button{


    width:100%;

    padding:15px;

    border:none;

    border-radius:30px;

    background:#003366;

    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}



button:hover{


    background:#ffd700;

    color:#003366;

    transform:translateY(-3px);


}





/* ================================
   MESSAGE
================================ */


#message{

    text-align:center;

    margin-top:20px;

    color:red;

    font-weight:600;

}





/* ================================
   MOBILE
================================ */


@media(max-width:500px){


.login-box{

    width:90%;

    padding:30px;

}


.login-box h2{

    font-size:25px;

}


}
